extends base.pug

block content
    h4 Update Video
    form(method="POST") 
        |
        |
        |
        |
        //- |
        //- |
        //- |
        //- 데이터를 어디로 보내는지 알려주는 것 action, method default - GET
        //- input(name="asdhjklhh",placeholder="Video Title", required)
        input(
            name="title",
            placeholder="Video Title",
            value=video.title,
            required
        )
        input(
            name="description",
            placeholder="Description",
            required,
            type="text",
            minlength=20,
            value=video.description
        )
        input(
            name="hashtags",
            placeholder="Hashtags, by seperated comma(,)",
            required,
            type="text",
            value=video.hashtags.join()
        )
        input(name="save", value="Save", type="submit")
