extends ../base

block content
    if errorMessage
        span= errorMessage
    form(method="POST")
        input(placeholder="Old Password", type="password", name="oldPW")
        input(
            placeholder="New Password Password",
            type="password",
            name="newPW"
        )
        input(
            Placeholder="New Password Comfirm",
            type="password",
            name="newPWComfirmation"
        )
        input(type="submit", value="Change Password")
